# Created by .ignore support plugin (hsz.mobi)
.idea
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
SingleDateAndTimePicker.iml
app/app.iml
# OS specific (mac)
.DS_Store
